# BC 카드 소비 데이터 분석 (2)

* 2020년 3월 카드 소비 데이터 : bc_card_out2020_03.txt
  - 레코드 수가 100만개 이상
  - \t으로 분리된 csv 파일
  - 전처리된 데이터가 저장되어 있음

## 1. 데이터 로딩 to DataFrame
- 전처리하여 csv로 저장한 파일 '201906.csv'을 판다스 dataframe으로 로딩 (encoding='utf-8', index_col=0)
- 앞부분 데이터 확인
- 전체 데이터 수 확인

In [6]:
import pandas as pd
df = pd.read_csv('bc_card_out2020_03.txt', sep='\t', encoding='utf-8')

In [7]:
df.head(10)

,REG_YYMM,MEGA_CTY_NO,MEGA_CTY_NM,CTY_RGN_NO,CTY_RGN_NM,ADMI_CTY_NO,ADMI_CTY_NM,MAIN_BUZ_CODE,MAIN_BUZ_DESC,TP_GRP_NO,...,CSTMR_GUBUN,CSTMR_MEGA_CTY_NO,CSTMR_MEGA_CTY_NM,CSTMR_CTY_RGN_NO,CSTMR_CTY_RGN_NM,SEX_CTGO_CD,AGE_VAL,FLC,AMT,CNT
0,202003,11,서울특별시,1168,강남구,11680750,수서동,30,생활,40,...,내국인,11,서울특별시,1168,강남구,2,20대,1,7927440,1089
1,202003,11,서울특별시,1129,성북구,11290660,길음1동,30,생활,70,...,내국인,11,서울특별시,1129,성북구,1,40대,4,274100,25
2,202003,11,서울특별시,1144,마포구,11440555,아현동,30,생활,40,...,내국인,11,서울특별시,1114,중구,1,60대 이상,5,34395725,808
3,202003,11,서울특별시,1126,중랑구,11260590,상봉2동,30,생활,40,...,내국인,11,서울특별시,1126,중랑구,2,20대,1,31860800,3699
4,202003,11,서울특별시,1168,강남구,11680630,대치4동,30,생활,62,...,내국인,41,경기도,4146,용인시,2,50대,4,2546487,45
5,202003,11,서울특별시,1130,강북구,11305660,인수동,30,생활,92,...,내국인,11,서울특별시,1130,강북구,1,50대,4,508970,27
6,202003,11,서울특별시,1117,용산구,11170650,이태원1동,80,음식,80,...,내국인,11,서울특별시,1138,은평구,1,20대,1,3372800,124
7,202003,11,서울특별시,1135,노원구,11350640,상계2동,80,음식,80,...,내국인,11,서울특별시,1135,노원구,1,20대,1,93692161,3566
8,202003,11,서울특별시,1159,동작구,11590540,상도2동,80,음식,80,...,내국인,11,서울특별시,1159,동작구,1,30대,2,14675900,706
9,202003,11,서울특별시,1130,강북구,11305545,송중동,30,생활,70,...,내국인,11,서울특별시,1129,성북구,2,50대,4,6648030,219

In [8]:
print(len(df))

1589494

## 2. 서울시 거주/비거주 고객의 소비액 구하기
* 서울시 거주 고객 수와 소비액
    - 남성 고객수, 소비액
    - 여성 고객수, 소비액
* 서울시 비거주 고개 수와 소비액
    - 남성 고객수, 소비액
    - 여성 고객수, 소비액

In [21]:
seoul = df[df['CSTMR_MEGA_CTY_NM'] == '서울특별시']

In [22]:
print('서울시 거주 고객 수 :', len(seoul),'명')
print('서울시 거주 고객 소비액:', seoul['AMT'].sum(),'원')

서울시 거주 고객 수 : 901072 명
서울시 거주 고객 소비액: 1385914569631 원

In [23]:
seoul_man = seoul[seoul['SEX_CTGO_CD']==1]

In [38]:
print('서울시 거주 남성 고객 수 :', len(seoul_man),'명')
print('서울시 거주 남성 고객 소비액 :', seoul_man['AMT'].sum(),'원')

서울시 거주 남성 고객 수 : 480069 명
서울시 거주 남성 고객 소비액 : 682678945342 원

In [26]:
seoul_woman = seoul[seoul['SEX_CTGO_CD']==2]

In [27]:
print('서울시 거주 여성 고객 수 :', len(seoul_woman),'명')
print('서울시 거주 여성 고객 소비액 :', seoul_woman['AMT'].sum(),'원')

서울시 거주 여성 고객 수 : 421003 명
서울시 거주 여성 고객 소비액 : 703235624289 원

In [30]:
no_seoul = df[df['CSTMR_MEGA_CTY_NM'] != '서울특별시']

In [32]:
print('서울시 비거주 고객 수 :', len(no_seoul),'명')
print('서울시 비거주 고객 소비액:', no_seoul['AMT'].sum(),'원')

서울시 비거주 고객 수 : 688422 명
서울시 비거주 고객 소비액: 1940899349900 원

In [33]:
no_seoul_man = no_seoul[no_seoul['SEX_CTGO_CD']==1]

In [34]:
print('서울시 비거주 남성 고객 수 :', len(no_seoul_man),'명')
print('서울시 비거주 남성 고객 소비액 :', no_seoul_man['AMT'].sum(),'원')

서울시 비거주 남성 고객 수 : 385870 명
서울시 비거주 남성 고객 소비액 : 1015425463575 원

In [35]:
no_seoul_woman = no_seoul[no_seoul['SEX_CTGO_CD']==2]

In [36]:
print('서울시 비거주 여성 고객 수 :', len(no_seoul_woman),'명')
print('서울시 비거주 여성 고객 소비액 :', no_seoul_woman['AMT'].sum(),'원')

서울시 비거주 여성 고객 수 : 302552 명
서울시 비거주 여성 고객 소비액 : 925473886325 원

### 3. 서울시 거주자 편의점 소비 건수와 소비액 구하기

In [44]:
seoul_conv = df[(df['CSTMR_MEGA_CTY_NM']=='서울특별시') & (df['TP_BUZ_NO']==4010)]

In [46]:
print('서울시 거주자의 편의점 소비 건수 :', seoul_conv['CNT'].sum(),'건')
print('서울시 거주자의 편의점 소비액 :', seoul_conv['AMT'].sum(),'원')

서울시 거주자의 편의점 소비 건수 : 10113011 건
서울시 거주자의 편의점 소비액 : 66513977146 원

### 4. 강남구 거주자의 강남구 내 소비액과 강남구 외 소비액 구하기

In [47]:
gangnam = df[(df['CSTMR_MEGA_CTY_NM']=='서울특별시') & (df['CSTMR_CTY_RGN_NM'] == '강남구')]

In [48]:
gangnam_in = gangnam[gangnam['CTY_RGN_NM']=='강남구']
gangnam_out = gangnam[gangnam['CTY_RGN_NM']!='강남구']

In [50]:
print('강남구 거주자의 강남구 내 소비액 :',gangnam_in['AMT'].sum(),'원')
print('강남구 거주자의 강남구 외 소비액 :',gangnam_out['AMT'].sum(),'원')

강남구 거주자의 강남구 내 소비액 : 46387952763 원
강남구 거주자의 강남구 외 소비액 : 62203324642 원